<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=7578iw9qmjoaar&redirect_uri=http://127.0.0.1:3000&state=FDFSewt4trere&scope=r_fullprofile"><button>Profile</button></a>

<a href="https://api.linkedin.com/v1/people/~/shares?oauth2_access_token=78c5fd71-df53-4c92-a77a-0b70f1fd852b"><button>AUTHENTICATION</button></a>